[class*='tl-col-'] {
	float: none;
	display:inline-block;
	vertical-align: top;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    
	
}
.clearfix{
    clear: both;
    float: none;
}
/********************************************************************************************* 

2.  Mobile col 

*********************************************************************************************/
.tl-col-m-12 {
	width: 100%;
}
.tl-col-m-11 {
	width: 91.666663%;
}
.tl-col-m-10 {
	width: 83.33%;
}
.tl-col-m-9 {
	width: 74%;
}
.tl-col-m-8 {
	width: 66.66666664%;
}
.tl-col-m-7 {
	width: 58.333%;
}
.tl-col-m-6 {
	width: 50%;
}
.tl-col-m-5 {
	width: 41.6665%;
}
.tl-col-m-4 {
	width: 33.3333333333333%;
}
.tl-col-m-3 {
	width: 24.99%;
}
.tl-col-m-2 {
	width: 16.66666%;
}
.tl-col-m-1 {
	width: 8.33%;
}

/********************************************************************************************* 

3.  col 720px+

*********************************************************************************************/

@media (min-width: 720px) {

.tl-col-12 {
width: 100%;
}
.tl-col-11 {
width: 91.666663%;
}
.tl-col-10 {
width: 83.333333333%;
}
.tl-col-9 {
width: 74%;
}
.tl-col-8 {
width: 66.66666664%;
}
.tl-col-7 {
width: 58.333%;
}
.tl-col-6 {
width: 50%;
}
.tl-col-5 {
width: 41.6665%;
}
.tl-col-4 {
width: 33.33333333333%;
}
.tl-col-3 {
width: 24.99%;
}
.tl-col-2 {
width: 16.66666%;
}
.tl-col-1 {
width: 8.33333333333%;
}

.tl-col-t-12 {
width: 100%;
}
.tl-col-t-11 {
width: 91.666663%;
}
.tl-col-t-10 {
width: 83.33%;
}
.tl-col-t-9 {
width: 74%;
}
.tl-col-t-8 {
width: 66.66666664%;
}
.tl-col-t-7 {
width: 58.333%;
}
.tl-col-t-6 {
width: 50%;
}
.tl-col-t-5 {
width: 41.6665%;
}
.tl-col-t-4 {
width: 33.3333333333%;
}
.tl-col-t-3 {
width: 24.99%;
}
.tl-col-t-2 {
width: 16.66666%;
}
.tl-col-t-1 {
width: 8.33%;
}
}
	
/********************************************************************************************* 

4.  col 1024px+

*********************************************************************************************/

@media only screen and (min-width: 1024px) {

.tl-col-tl-12 {
width: 100%;
}
.tl-col-tl-11 {
width: 91.666663%;
}
.tl-col-tl-10 {
width: 83.33%;
}
.tl-col-tl-9 {
width: 74%;
}
.tl-col-tl-8 {
width: 66.66666664%;
}
.tl-col-tl-7 {
width: 58.333%;
}
.tl-col-tl-6 {
width: 50%;
}
.tl-col-tl-5 {
width: 41.6665%;
}
.tl-col-tl-4 {
width: 33.33%;
}
.tl-col-tl-3 {
width: 24.99%;
}
.tl-col-tl-2 {
width: 16.66666%;
}
.tl-col-tl-1 {
width: 8.33%;
}
}
	

/********************************************************************************************* 

5.  col 1200px+

*********************************************************************************************/
	
@media only screen and (min-width: 1200px) {

.tl-col-d-12 {
width: 100%;
}
.tl-col-d-11 {
width: 91.666663%;
}
.tl-col-d-10 {
width: 83.33333333333%;
}
.tl-col-d-9 {
width: 74%;
}
.tl-col-d-8 {
width: 66.66666664%;
}
.tl-col-d-7 {
width: 58.333%;
}
.tl-col-d-6 {
width: 50%;
}
.tl-col-d-5 {
width: 41.6665%;
}
.tl-col-d-4 {
width: 33.333333333333%;
}
.tl-col-d-3 {
width: 24.99%;
}
.tl-col-d-2 {
width: 16.66666%;
}
.tl-col-d-1 {
width: 8.33%;
}
}