.it-form-desc{
	font-size:11px;
	margin-left:31%;
}
.it-form-desc ul{
	list-style:circle; margin:20px;
}
.it-alert{
	font-size: 15px!important;
    background-color: #DF0F13;
    color: #fff;
    padding: 10px!important;
	margin-bottom:15px;
    border-radius: 5px;
}
.it-alert a{
	color:#DF0F13;
	text-decoration:none;
	margin-left:10px;
	background-color:#fff;
	padding:5px;
	border-radius: 5px;
	font-weight:bold;	
}
.tl-testimonial-cnt{
    margin: 40px 0;
    display: block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
}
.tl-testimonial-cnt *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
}
.tl-testimonial-cnt ul{
	padding:0;
	margin:0;
}
.tl-testimonial-cnt .tl-position{
    font-size: 12px;
}
.tl-testimonial-cnt .tl-position a {
    text-decoration: none !important;
    border: none;
}
.tl-testimonial-cnt .tl-image{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: rgb(221, 221, 221);
}
/*carousel Layout*/
.bx-wrapper{
    box-shadow: none!important;
}
/*Grid Layout*/
.tl-testimonial-cnt .tl-grid-item{
	overflow:hidden;
	padding:10px 10px 10px 10px;
    line-height: 1.8;
    margin: 0;
}
.tl-testimonial-cnt .tl-grid-item .tl-desc,
.tl-testimonial-cnt .tl-grid-item .tl-name,
.tl-testimonial-cnt .tl-grid-item .tl-position{
    text-align: left;
    color: #888;
    position: relative;
}
.tl-testimonial-cnt .tl-grid-item .tl-name {
    color:#333;
    font-family: Georgia,serif;
    font-size: 15px;
    font-weight: bold;
}
.tl-testimonial-cnt .tl-grid-item .tl-position a{
    text-decoration: none !important;
    color: inherit;
}
.tl-testimonial-cnt.tl-style1.tl-lg-image .tl-grid-item .tl-desc{
    font-size: 14px;
    font-family: Georgia,serif;
    margin-bottom: 15px;
    line-height: 1.8;
}

.tl-testimonial-cnt .tl-grid-item .tl-image-box{
    display: block;
    overflow: hidden;
    padding: 10px;
}
/******* rating *******/
.tl-rating{
    display:block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    color: gold;
}
.tl-rating.tl-one-stars:before{content:"\f005\f006\f006\f006\f006";}
.tl-rating.tl-two-stars:before{content:"\f005\f005\f006\f006\f006";}
.tl-rating.tl-three-stars:before{content:"\f005\f005\f005\f006\f006";}
.tl-rating.tl-four-stars:before{content:"\f005\f005\f005\f005\f006";}
.tl-rating.tl-five-stars:before{content:"\f005\f005\f005\f005\f005";}

.tl-rating.tl-lg-star{
    font-size:26px;
}
.tl-rating.tl-md-star{
    font-size:20px;
}
.tl-rating.tl-sm-star{
    font-size:16px;
}
/*****pagination style ********/
.tl-testimonial-cnt.tl-style2.tl-rectangle-pagination .owl-pagination,
.tl-testimonial-cnt.tl-style3.tl-rectangle-pagination .owl-pagination{
    text-align: left;
}
.tl-testimonial-cnt.tl-rectangle-pagination .owl-pagination{
    text-align: center;
}
.tl-rectangle-pagination .owl-page span {
    width: 24px !important;
    height: 8px !important;
}
.tl-testimonial-cnt.tl-style2.tl-lg-image .owl-pagination,
.tl-testimonial-cnt.tl-style3.tl-lg-image .owl-pagination{
margin-left: 145px;
}
.tl-testimonial-cnt.tl-style2.tl-md-image .owl-pagination,
.tl-testimonial-cnt.tl-style3.tl-md-image .owl-pagination{
    margin-left: 125px;
}
.tl-testimonial-cnt.tl-style2.tl-sm-image .owl-pagination,
.tl-testimonial-cnt.tl-style3.tl-sm-image .owl-pagination{
    margin-left: 105px;
}
/******* carousel style 0 ******/
.tl-testimonial-cnt.tl-carousel-layout [id*="thumbnail-pagination-"] div.owl-item {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    float: none;
    cursor:pointer;
}
.tl-testimonial-cnt.tl-carousel-layout [id*="thumbnail-pagination-"] div.owl-wrapper{
    width: 100% !important;
}
.tl-testimonial-cnt.tl-carousel-layout [id*="thumbnail-pagination-"] div.owl-item .tl-image-overly{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 10;
}
.tl-testimonial-cnt.tl-carousel-layout [id*="thumbnail-pagination-"] div.owl-item.synced .tl-image-overly{
    opacity: 0;
}
.tl-testimonial-cnt.tl-carousel-layout [id*="thumbnail-pagination-"]{
    width: 100%;
    text-align: center;
}
.tl-testimonial-cnt.tl-carousel-layout [id*="thumbnail-pagination-"] div.owl-item.synced .tl-grayscale
{-webkit-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter: grayscale(0%);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;}

/******* carousel btn style 1 *********/
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-top .owl-buttons{
    top: -40px;
}
.tl-btn-top .owl-theme{
    margin-top: 50px;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-right .owl-buttons{
    right: 35px;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-bottom .owl-buttons{
    bottom: -30px;
}

.tl-testimonial-cnt.tl-carousel-layout.tl-btn-center.tl-btn-bottom .owl-buttons{
    bottom: -45px;
}
.tl-btn-bottom .owl-theme{
    margin-bottom: 50px!important;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-left .owl-buttons{
    left: 0;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-center .owl-buttons{
    right: 50%;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-lg-image.tl-btn-around .owl-buttons{
    width: 100%;
    left: 0;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-lg-image.tl-btn-around .owl-buttons i{
    margin: 0 64px;
}

.tl-testimonial-cnt.tl-carousel-layout.tl-md-image.tl-btn-around .owl-buttons{
    width: 100%;
    left: 0;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-md-image.tl-btn-around .owl-buttons i{
    margin: 0 51px;
}

.tl-testimonial-cnt.tl-carousel-layout.tl-sm-image.tl-btn-around .owl-buttons {
    width: 100%;
    left: 0;
}
.tl-testimonial-cnt.tl-carousel-layout.tl-sm-image.tl-btn-around .owl-buttons i{
    margin: 0 39px;
}

/******* carousel btn style 3 *****/
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-style3 .bx-wrapper .bx-next,
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-style3 .bx-wrapper .bx-prev{
    border-radius: 5px;
}
/******* carousel btn style 2 *****/
.tl-testimonial-cnt.tl-carousel-layout.tl-btn-style4 .bx-wrapper .bx-controls{
    top: 0;
    right: 50%;
    margin-right: -27px ;
}
/*dark btn carousel*/
.tl-testimonial-cnt.tl-carousel-layout.dark-carousel-btn .bx-wrapper .bx-prev ,
.tl-testimonial-cnt.tl-carousel-layout.dark-carousel-btn .bx-wrapper .bx-next {
    background-position: right center ;
    background-color: #333;
    transition: all 0.3s ease 0s;
    border-radius: 50%;
}
.tl-testimonial-cnt.tl-carousel-layout.dark-carousel-btn .bx-wrapper .bx-prev:hover,
.tl-testimonial-cnt.tl-carousel-layout.dark-carousel-btn .bx-wrapper .bx-prev:focus ,
.tl-testimonial-cnt.tl-carousel-layout.dark-carousel-btn .bx-wrapper .bx-next:hover,
.tl-testimonial-cnt.tl-carousel-layout.dark-carousel-btn .bx-wrapper .bx-next:focus {
    background-position: left center;
}
/******* grid style 1 ******/
.tl-testimonial-cnt.tl-grid-layout.tl-style1 .tl-rating,
.tl-testimonial-cnt.tl-grid-layout.tl-style4 .tl-rating,
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-rating,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-rating{
    text-align: center;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style1 .tl-image,
.tl-testimonial-cnt.tl-grid-layout.tl-style4 .tl-image,
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-image,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-image{
    margin-right: auto;
    margin-left: auto;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style1 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style4 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-desc{
    font-size: 14px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style1 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style1 .tl-grid-item .tl-name,
.tl-testimonial-cnt.tl-grid-layout.tl-style1 .tl-grid-item .tl-position,
.tl-testimonial-cnt.tl-grid-layout.tl-style4 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style4 .tl-grid-item .tl-name,
.tl-testimonial-cnt.tl-grid-layout.tl-style4 .tl-grid-item .tl-position,
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-name,
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-position,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-name,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-position{
    text-align: center;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-desc-wrap,
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-image-box,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-desc-wrap,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-image-box{
    width: 100%;
    overflow: visible;
    margin: 0 !important;
    float: left;
    display: inline-block;
    min-height: 50px;
    position: relative;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style7.tl-lg-image .tl-grid-item .tl-image{
    bottom: -50px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style7.tl-md-image .tl-grid-item .tl-image{
    bottom: -40px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style7.tl-sm-image .tl-grid-item .tl-image{
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style8.tl-lg-image .tl-grid-item .tl-image{
    top: -50px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    margin-bottom: 10px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style8.tl-md-image .tl-grid-item .tl-image{
    top: -40px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    z-index: 3;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style8.tl-sm-image .tl-grid-item .tl-image{
    top: -30px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    z-index: 3;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-desc-wrap,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-desc-wrap{
    z-index: 1;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style7 .tl-grid-item .tl-image-box,
.tl-testimonial-cnt.tl-grid-layout.tl-style8 .tl-grid-item .tl-image-box{
    z-index: 2;
}
/******* grid style 2 ******/
.tl-testimonial-cnt.tl-grid-layout.tl-style2 .tl-grid-item .tl-desc{
    font-size: 14px;
}
.tl-testimonial-cnt.tl-style2 .tl-desc-wrap,
.tl-testimonial-cnt.tl-style3 .tl-desc-wrap{
    width: 100%;
}
.tl-testimonial-cnt.tl-style2 .tl-desc-wrap,
.tl-testimonial-cnt.tl-style2 .tl-image-box{
    display: table-cell;
    height: 100%;
    vertical-align: top;
}
/******* grid style 3 ******/
.tl-testimonial-cnt.tl-style3 .tl-name{
    margin-top: 10px;
}
.tl-testimonial-cnt.tl-style3 .tl-image-box{
    float: left;
}
.tl-testimonial-cnt.tl-style3 .tl-desc-wrap{
    display: inline-block;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style3 .tl-grid-item .tl-desc.tl-balloon{
    margin-bottom: 15px;
    padding: 10px;
}
.svg-triangle{
    fill: #eee;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style3 .tl-grid-item .tl-desc .tl-triangle{
    position: absolute;
    height: 11px;
    width: 20px;
    top: 100%;
    left: 30px;
    display: block;
    line-height: 0;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style3 .tl-grid-item .tl-desc .tl-triangle .svg-triangle{
	width:100%;
	height:100%;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style3 .tl-grid-item .tl-bottom-box{
    display: block;
    overflow: hidden;
    min-height: 80px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style3 .tl-grid-item .tl-image {
    float: left;
}
/******* grid style 4 ******/
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc{
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc .tl-triangle{
    position: absolute;
    height: 11px;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    display: block;
    box-sizing: border-box;
    line-height: 0;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap{
    display: inline-block;
    width: 100%;
    min-height: 80px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap .tl-rating{
    text-align: center;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-image{
    margin-right: auto;
    margin-left: auto;
}

.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap .tl-name,
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap .tl-position{
    text-align: center;
}
/******* grid style 5 ******/
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc{
    padding: 10px;
    font-size: 14px;
}

.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc .tl-triangle{
    position: absolute;
    width:20px;
  	height: 11px;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    display: block;
    box-sizing: border-box;
    line-height: 0;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc .tl-triangle .svg-triangle{
	width:100%;
	height:100%;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap{
    display: block;
    overflow: hidden;
    min-height: 80px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap .tl-rating{
    text-align: center;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap .tl-image{
    margin-right: auto;
    margin-left: auto;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap .tl-name,
.tl-testimonial-cnt.tl-grid-layout.tl-style5 .tl-grid-item .tl-desc-wrap .tl-position{
    text-align: center;
}
/**************************/
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc{
    background-color: rgb(245, 245, 245);
    border:1px solid rgb(221, 221, 221);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc .tl-triangle{
    position: absolute;
    height: 11px;
    bottom: 100%;
    left: 30px;
    display: block;
    box-sizing: border-box;
    transform: rotate(180deg);
    line-height: 0;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc-wrap{
    position: relative;
    overflow: visible;
    min-height: 80px;
    width: 100%;
    box-sizing: border-box;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc-wrap .tl-image{
    position: absolute;
    right: 10px;
    bottom: -15px;
    z-index: 5;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc-wrap .tl-rating{
    position: absolute;
    bottom: 5px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6.tl-lg-image .tl-grid-item .tl-desc-wrap .tl-rating{
    right: 125px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6.tl-md-image .tl-grid-item .tl-desc-wrap .tl-rating{
    right: 105px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6.tl-sm-image .tl-grid-item .tl-desc-wrap .tl-rating{
    right: 85px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc{
    padding-top: 20px;
}
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc,
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc-wrap .tl-name,
.tl-testimonial-cnt.tl-grid-layout.tl-style6 .tl-grid-item .tl-desc-wrap .tl-position{
    text-align: left;
}
/******* list style 1 ******/
.tl-testimonial-cnt.tl-list-layout.tl-style1 .tl-rating{
    text-align: center;
}
.tl-testimonial-cnt.tl-list-layout.tl-style1 .tl-image{
    margin-right: auto;
    margin-left: auto;
}
/****** image size ********/
.tl-testimonial-cnt.tl-lg-image .tl-image,
.tl-testimonial-cnt.tl-lg-image .tl-thumb-item,
.tl-testimonial-cnt.tl-lg-image [id*="thumbnail-pagination-"] div.owl-item {
    width: 100px !important;
    height: 100px;
}
.tl-testimonial-cnt.tl-md-image .tl-image,
.tl-testimonial-cnt.tl-md-image .tl-thumb-item,
.tl-testimonial-cnt.tl-md-image [id*="thumbnail-pagination-"] div.owl-item {
    width: 80px !important;
    height: 80px;
}
.tl-testimonial-cnt.tl-sm-image .tl-image,
.tl-testimonial-cnt.tl-sm-image .tl-thumb-item,
.tl-testimonial-cnt.tl-sm-image [id*="thumbnail-pagination-"] div.owl-item {
    width: 60px !important;
    height: 60px;
}
/******* image style ********/
.tl-lg-radius,
.tl-btn-lg-radius .owl-buttons i{
    border-radius: 50%;
}
.tl-md-radius,
.tl-btn-sm-radius .owl-buttons i{
    border-radius: 20%;
}
.tl-pagination-cycle{

}
/*List Layout*/
.tl-testimonial-cnt .tl-list-item{
    overflow:hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    padding:10px 10px 10px 10px;
}
.tl-testimonial-cnt .tl-list-item .tl-list-image{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: rgb(221, 221, 221);
}
.tl-testimonial-cnt .tl-list-item .tl-desc,
.tl-testimonial-cnt .tl-list-item .tl-name,
.tl-testimonial-cnt .tl-list-item .tl-position{
    text-align: center;
    position: relative;
    color: #888;
}
.tl-testimonial-cnt .tl-list-item .tl-name {
    color:#333;
    font-size: 15px;
    font-weight: bold;
    font-family: Georgia,serif;
}
.tl-testimonial-cnt .tl-list-item .tl-position a{
    text-decoration: none !important;
    color: inherit;
}
.tl-testimonial-cnt.tl-style1 .tl-image{

}
.tl-testimonial-cnt.tl-style1.tl-lg-image .tl-list-item .tl-desc{
    font-size: 18px;
    font-family: Georgia,serif;
    margin-bottom: 15px;
    line-height: 1.8;
}
.tl-testimonial-cnt.tl-style1.tl-lg-image .tl-list-item .tl-list-rating{

}
.tl-testimonial-cnt .tl-desc-wrap{
    display: block;
    overflow: hidden;
}
/*Image Effects*/
.tl-zoomin {
	-webkit-transition:  -webkit-transform 0.3s;
	transition:  transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tl-testimonial-cnt .tl-grid-item:hover .tl-zoomin , .tl-testimonial-cnt .tl-list-item:hover .tl-zoomin, .tl-carousel-item:hover .tl-zoomin, .tl-isotop-item:hover .tl-zoomin {
	
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

.tl-zoomout
{
	-webkit-transition:  -webkit-transform 0.3s;
	transition:  transform 0.3s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);	
}
.tl-testimonial-cnt .tl-grid-item:hover .tl-zoomout , .tl-testimonial-cnt .tl-list-item:hover .tl-zoomout, .tl-carousel-item:hover .tl-zoomout, .tl-isotop-item:hover .tl-zoomout {
	
	-webkit-transform: scale(1);
	transform: scale(1);
}

.tl-grayscale  {-webkit-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%);-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
.tl-testimonial-cnt .tl-carousel-item:hover .tl-grayscale ,.tl-testimonial-cnt .tl-grid-item:hover .tl-grayscale , .tl-testimonial-cnt .tl-list-item:hover .tl-grayscale, .tl-carousel-item:hover .tl-grayscale, .tl-isotop-item:hover .tl-grayscale {-webkit-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter: grayscale(0%);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;}

/*ISOTOP FILTERS*/
.tl-filtering { display:block; margin:10px ; }
.tl-filtering.tl-align-center{ text-align:center; }
.tl-filtering.tl-align-left{ text-align:left; }
.tl-filtering.tl-align-right{ text-align:right; }

.tl-filtering.tl-light-filter .tl-filter-item{ 
    display: inline-block;
    background-color: #fff;
    color: #b1b1b1;
    padding: 5px 10px;
    border: 2px solid #ddd;
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}
.tl-filtering.tl-light-filter .tl-filter-item:hover{ background-color: #fff;color: #292929;border-color: #191919; }
.tl-filtering.tl-light-filter .tl-filter-item.tl-active-filter{background-color: #fff;color: #292929;border-color: #191919; }

.tl-filtering.tl-dark-filter .tl-filter-item{ 
  	display: inline-block;
    background-color: #565656;
    color: #d0d0d0;
    padding: 5px 20px;
    border: 2px solid #565656;
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}
.tl-filtering.tl-dark-filter .tl-filter-item:hover{ background-color: #fff;
    color: #333;
    border-color: #333; }
.tl-filtering.tl-dark-filter .tl-filter-item.tl-active-filter{ background-color: #fff;
    color: #333;
    border-color: #333; }



.tl-progress {
    margin:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1px;
    position: relative;
    display: none;
}

.tl-bar {
    background-color: #b4f5b4;
    border-radius: 3px;
    height: 20px;
    width: 0;
}

.tl-percent {
    display: inline-block;
    left: 48%;
    position: absolute;
    top: -2px;
}
.tl-error{
    color:#d22
}
.tl-submission-form{
    clear: both;
    margin: 10px auto !important;
    width: 100%;
}
@media (max-width: 719px) {
    .tl-content-area{ border:none; }
}
