.itt_iconpicker_grid {
	background: #fff;
	height: 250px;
	overflow-y: scroll;
	border: 1px solid #AAA;
	cursor: pointer;
}

.itt_iconpicker_grid [class^="fa-"],.itt_iconpicker_grid [class*=" fa-"] {
	background: #fff;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: inline-block;
	color: #494949;
	border: 1px solid #e1e1e1;
	margin-left: -1px;
	margin-top: -1px;
	transition: 		all 0.1s ease-out;
	-moz-transition: 	all 0.1s ease-out; /* Firefox 4 */
	-webkit-transition: all 0.1s ease-out; /* Safari and Chrome */
	-o-transition: 		all 0.1s ease-out; /* Opera */
}



.itt_iconpicker_grid [class^="fa-"].active,
.itt_iconpicker_grid [class*=" fa-"].active {

	background-color: #0074a2;
	color:#fff;

}

.itt_iconpicker_loading [class^="fa-"],.itt_iconpicker_grid [class*=" fa-"] {
	padding-top:20px!important;
	width:70px !important;
	height:50px !important;
}

.itt_iconpicker_loading{
	width:100%;
	height:355px;
	overflow-y: hidden;
}


/*ADMIN FORM - FORNT-END STYLE PART*/
.set-color{
	display: inline-block;
	margin-right: 4px;
	width: 120px;
	height: 12px;
	border: 1px solid #ddd;
	padding: 0;
	line-height: 12px;
	cursor:pointer
}
a.set-color span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0;
}

.custom_preview_image
{
	width:40px !important;
	height:40px !important;
}
/*FORMS STYLE*/
/*#ad_search_grid_main_page{ background:none!important; border:none; }
	#ad_search_grid_main_page .handlediv , #ad_search_grid_main_page .hndle{  display:none; }
	#ad_search_grid_main_page .inside{ padding:0!important; }
#ad_search_grid_advence_setting .form-table th , #ad_search_grid_layout_setting .form-table th, #ad_search_grid_fields_order_setting .form-table th, #ad_search_grid_general_setting .form-table th, #ad_search_grid_build_query .form-table th{  padding: 20px 0 0 10px; background:#f5f5f5;-webkit-border-radius:5px;	-moz-border-radius:5px;	border-radius:5px;  }*/
.field-row{ display:block; }
td .small-lbl-cnt{display: inline-block;width: 125px;padding: 5px 5px;background: #f0f0f0;border-radius: 5px;margin-right: 3px;color: #333;;margin-bottom: 4px;}
	
	td .small-lbl-cnt input[type="number"] { width:50px; display:inline-block!important; }
.input-unit{ margin-left:5px; font-size:9px; }
label.small-label {display: inline-block!important;}
label.full-label{ display:block!important; margin-bottom:5px; }

td .medium-lbl-cnt{ background: #F0F0F0;display: inline-block;padding: 5px 10px;width: 255px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-bottom: 4px;margin-right: 3px;position: relative; min-height:65px; vertical-align:top; }
	td .medium-lbl-cnt .wp-picker-container a.wp-color-result{ top:2px; box-shadow:none; }
	td .medium-lbl-cnt .wp-picker-container .wp-picker-input-wrap{ margin-top:2px; }
	td .medium-lbl-cnt .wp-picker-container .wp-picker-holder { position:absolute; z-index:99; }
	td .medium-lbl-cnt input[type="number"] { width:50px; }

td .full-lbl-cnt{ background: #F0F0F0;display: inline-block;padding: 5px 10px;width: 530px;border-radius: 5px;margin-bottom: 4px;position: relative; }
	td .full-lbl-cnt .wp-picker-container a.wp-color-result{ top:2px; }
	td .full-lbl-cnt .wp-picker-container .wp-picker-input-wrap{ margin-top:2px; }
	td .full-lbl-cnt .wp-picker-container .wp-picker-holder { position:absolute;z-index:99; }
	td .full-lbl-cnt .chosen-container{ margin-bottom:3px; }
	td .full-lbl-cnt input[type="number"] { width:50px; }
	
td .full-lbl-cnt.more-padding{ padding:10px 10px; margin-bottom:10px; }	
.header-lbl{ text-transform:uppercase;margin:0px 0px 20px 0; display:inline-block; padding:5px 15px; background:#333; color:#fff;-webkit-border-radius:5px;	-moz-border-radius:5px;	border-radius:5px; }

#ad_search_grid_main_page select{border-radius: 5px;color: #333;border: 1px solid #c2c2c2;text-transform: capitalize;border-bottom-width: 3px;line-height: 30px;height: 30px;box-shadow: none; }

i.mce-i-fa-check:before {   
    content: "\f489";   
    font-family: dashicons;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 1.5em;
    padding-right: 0.5em;
    position: absolute;
    top: 15%;
    left: 0;
 }
