/* CSS Document */
div.del_imagegallery {
	padding-bottom: 2px;
	text-align: center;
	background: #F45656;
	color: whitesmoke;
	width: 15px;
	height: 15px;
	cursor:pointer;
}
#itt_testimonial_preview{
    padding: 0;
    margin: 10px;
}
#itt_testimonial_preview >* {
    margin: 0;
}
#itt_testimonial_preview >div{
    width: 90%;
    margin: 10px auto;
}